.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}

.gender-selector {
  display: flex;
  flex-direction: column;
}

.gender-selector label {
  margin-bottom: 10px;
}

.gender-selector input[type="radio"] {
  margin-right: 5px;
}
